* {
    text-decoration: none;
}
.stackOuter {
    background-color: white;
    width: 20vw;
    height: 25vh;
    text-wrap: wrap;
    overflow-wrap: break-word;
    border-radius: 5px;
    padding: 1vh;
    color: rgb(14, 72, 14);
    border: 1px solid transparent;
    
}
.stackOuter:hover {
    
    border: 1px solid green;
}
