#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  
}
#titleScreenText {
  margin: auto auto;
}
.bottomLeft {
  position: fixed;
  left: 0vw;
  bottom: 1vh;
  
}
.topLeft {
  position: fixed;
  left: 0vw;
  top: 1vh;
  
}
.stacks {
  width: 70vw;
  
  text-align: left;
  margin-top: 2vh;
}
.stacks * {
  display: inline-block;
  margin: .5vh;
  text-align: center;
}


