:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #F2F1EB;
  color: #58845f;



}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  align-items:center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
button {
  border-radius: 8px;
  color: #F2F1EB;
  background-color: #58845f;
  font-size: 1em;
  font-weight: 600;
  padding: 0.6em 1.2em;
  border-color: #FFFFFF;
  
}
button:hover {
  border-color: #58845f;
}