

.createSet {
    text-align: center;
    margin-bottom: 1vh;
    
}
#createNew {
    position: relative;
    margin-bottom: 1vh;
    
    
}
input {
    margin-left: 0px;
    border-radius: 5px;
    width: 30vw;
}

.addNewCard {
    
    border-radius: 10px;
    padding: 1vw;
    padding-top: 0.5vh;
    text-align: center;
    margin-bottom: 1vh;
   
}
.addNewCard h2 {
    text-align: left;
}
.addedCard {
    
    border: 1px solid green;
    min-height: 15vh;
    width: 70%;
    background-color: white;
    padding: 0vh 2vw 4vh 2vw;
    margin: 1vh auto;
}
#currentUser {
    position: fixed;
    right: 2vw;
    top: 0vh;
}
.title{
    margin-top: 1vh;
}
.invisible {
    visibility: hidden;
}